body{

background-color: #222222;

}


#conteudo {
    width: 400px;
    height: 400px;
    background-color: #99b9b9;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha ao centro considerando largura */
    justify-content: center; /* Alinha ao centro considerando altura */
}

.input {
    width: 80%; /* Largura */
    height: 40px; /* Altura */
    margin-bottom: 10px; /* Espaçamento externo */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Respeita o espaçamento interno, e 
    não deixa o elemento pai alterar seu comportamento! */
    border-radius: 20px;
}

#botao-entrar{
    width: 80%;
    height: 45px;
    background-color: rgb(27, 40, 156);
    border: solid 3px #000;
    border-radius: 20px;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}