header {
    color: #4169e1;
    background-color: #4169e1;

}
body {
    background-color: #56b6db;
}
#conteudo{
    width: 1300px;
    height: 100px;
    background-color: rgb(28, 63, 63);
    margin: 0 auto;
}
.input{
color: red;

}